# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.vite
*.local

# Large Binary Data Archives, Geotiffs & Raw Orbit Dirs
*.zip
*.tif
*.tiff
*.xlsx
~$*
Data/ch2_sar_ncxl_*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.ds_store
*.suo
*.ntvsopt
*.njsproj
*.sln
*.sw?

# System & IDE files
.system_generated
.tempmediaStorage
